.background{
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    font-size: 12pt;
    background-color: #FBFCFC;
    width: 500px;
    height: 90vh;
}

.chat-bubble-received{
    position: relative;
    padding: 7px 10px;
    background-color: #EAECEE;
    border-radius: 20px;
    max-width: 315px;
    box-shadow: -3px 7px 8px grey;
    left: 50px;
    margin-bottom: 20px;
}

.chat-bubble-sent{
    position: relative;
    align-self: flex-end;
    padding: 7px 10px;
    color: white;
    background-color: #1982FC;
    border-radius: 20px;
    max-width: 315px;
    box-shadow: -3px 7px 8px grey;
    left: 50px;
}